# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# ------------------------
# Environment & Secrets
# ------------------------
.env
*.key
*.pem

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------
# Logs & Misc
# ------------------------
*.log
.DS_Store
Thumbs.db
